[run]
source = etc/dbus-serialinverter
omit =
    etc/dbus-serialinverter/pymodbus/*
    etc/dbus-serialinverter/pymodbus-*/*
    etc/dbus-serialinverter/pymodbus-*/*/*
    etc/dbus-serialinverter/pymodbus-*/*/*/*
    etc/dbus-serialinverter/pymodbus-*/*/*/*/*

[report]
fail_under = 80
show_missing = true
